/* 
Make these changes at the individual component level...
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font and background for the app */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Other global styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.2rem;
}

a {
  color: #00f;
  text-decoration: none;
}

button {
  cursor: pointer;
}
